extends ../layouts/navbar
block content
    h1.ml-5 
        b List BOOK is here
    p.ml-5 You can search...
    form.ml-5(action="/book/list/search", method="GET")
            input(type="text" , name="name", class ="form-control", style='max-width:500px')
            br
            button(class="btn btn-primary ml-2") Search
    .container
        .row
            each book in listbooks
                .card.text-center(style='max-width:350px')
                    .col-sm
                        .card-body
                            img.card-img(src=book.image height=420)
                            h5.card-title='Title: ' + book.title
                            h5.card-title='Author: ' + book.author
                            p.card-text=book.description
                            p.card-text='Page Count '+book.pageCount
                        .card-footer.text-muted
                            a.btn.btn-primary(href="/cart/"+book.bookId)='Add to cart'