extends ../layouts/navbar
block content
    h1 Danh sach tat ca book
    form.ml-auto(action="/book/list/search", method="GET")
            input(type="text" , name="name", class ="form-control")
            button(class="btn btn-primary ml-2") Search
    each book in listbooks
        ul
            li=book.title
            br
            li=book.author
            br
            li=book.description
            br
            li=book.pageCount
            li
                img(src=book.image width=400 height=560)
            br
            li
                a(href="/cart/"+book.bookId)='Add to cart'