extends ../layouts/navbar
block content
    h1='My Store '
    a(href="/book/"+user.id+"/storename") Edit your Store's name
    .container
        .row
            each book in listbooks
                .card.text-center(style='max-width:350px')
                    .col-sm
                        .card-body
                            img.card-img(src=book.image height=420)
                            h5.card-title='Title: ' + book.title
                            h5.card-title='Author: ' + book.author
                            p.card-text=book.description
                            p.card-text='Page Count '+book.pageCount
                        .card-footer.text-muted
                            a.btn.btn-primary(href="/cart/"+book.bookId)='Add to cart'
                            a.btn.btn-primary(href="/book/"+book.bookId+"/delete") Delete
         

        